<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="mms2SOAPbasicHttpBinding" />
                <binding name="mms2SOAPbasicHttpsBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="mms2wsHttpBinding">
                    <security mode="None" />
                </binding>
                <binding name="mms2wsHttpBindingSecure">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://messaging.cdyne.com/Messaging.svc/Soap"
                binding="basicHttpBinding" bindingConfiguration="mms2SOAPbasicHttpBinding"
                contract="WSDL.IMessaging" name="mms2SOAPbasicHttpBinding" />
            <endpoint address="https://messaging.cdyne.com/Messaging.svc/SecureSoap"
                binding="basicHttpBinding" bindingConfiguration="mms2SOAPbasicHttpsBinding"
                contract="WSDL.IMessaging" name="mms2SOAPbasicHttpsBinding" />
            <endpoint address="http://messaging.cdyne.com/Messaging.svc/WS"
                binding="wsHttpBinding" bindingConfiguration="mms2wsHttpBinding"
                contract="WSDL.IMessaging" name="mms2wsHttpBinding" />
            <endpoint address="https://messaging.cdyne.com/Messaging.svc/WS"
                binding="wsHttpBinding" bindingConfiguration="mms2wsHttpBindingSecure"
                contract="WSDL.IMessaging" name="mms2wsHttpBindingSecure" />
        </client>
    </system.serviceModel>
</configuration>